.navbar-container {
    width : 100%;
    height : 100px;
    background-color: #E2DFD2;
    overflow: hidden;
}
.logo-container {
    float: left;
    width: 120px;
    height: 100px;
    margin-left: 70px;
}
.menu-container {
   float: left;
   margin-top:20px;
}
.menu-container > ul {
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.menu-container > ul > li {
    display: inline;
}
.menu-container  ul  li  a {
        color: black;
        text-align: center;
        padding-left: 16px;
        text-decoration: none;
        font-size: 16px;
      }
.menu-list .active{
        color: #F5980C;
      }
.search-container {
    float: right;
    width : 525px;
    height : 75px;
    border-radius: 200px;
    background-color: #F5980C;
    margin-top: 12px;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 70px;
  gap: 30px;
}
.search-container .menu-icon{
    color: white;
    size: 30px;
    
}
.search-container .login-button {
    align-items: center;
}



<!----------------------------->
.card-container {
    width: 270px;
    height:400px;
    border-radius:16px;
    overflow: hidden
    }
.card-image-container {
    width: 260px;
    height: 310px;
    padding: 5px 5px;
    border-radius: 16px;
    overflow: hidden
}

.card-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 16px
}
.card-content {
    padding: 3px 5px;
    margin-top: 17px;
}
.card-content .order{
   cursor: pointer;
   border: 1px solid #F5980C;
   animation-name: button-out;
   animation-duration: 0.35s;
   animation-fill-mode: forwards;
}
.order:hover {
   animation-name: button-hover;
   animation-duration: 0.35s;
   animation-fill-mode: forwards;
 }

.card-content .title-container{
    text-align: right;
    float: right;
}
.card-content p{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
 }
.card-content .title{
    font-weight: 600;
    font-size: 20px;
    color: #2F303A;
    border-radius: 16px
 }
.card-content .price{
    font-weight: 600;
    font-size: 17px;
    color: #787878;
   border-radius: 16px
 }




 .contact-detail {
    position: relative;
    padding: 37px 10px;
    height:600px;
   
    overflow: hidden;
 }
 .contact-detail p{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
 }
 .contact-detail .contact-title{
    font-size: 33px;
    font-family: 'Lily Script One', cursive;
    color: #2F303A;
    font-weight: 400;
    
}
.contact-detail .contact-subtitle{
    font-size: 28px;
    font-family:'Abyssinica SIL';
    color: #606060;
    font-weight: 400;
 }

 .contact-detail .contact-image{
    top: 20%;
    right: 0;
    position: absolute;
    width: 53%;
    height: 70%;
    margin: 10px 10px;
    border-radius:  30px;
    background-image:  url("../assets/contact-366fc1ee9bd50482ba048d127f3e98e4.png");
 }
 .contact-detail .contact-form {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    border-radius: 0px 100px 0px 100px;
    background-color: rgba(245,152,12,0.10);
    height: 68%;
    margin: 10px 10px;
    overflow: hidden;
 }

 .contact-detail .contact-form form{
    width: 80%;
    float: right;
    align-items: left;
    margin-right: 10px;
    overflow: hidden;
 }
 .contact-detail .contact-form input{
    display: block;
    border-style: none;
    margin: 0 auto;
    margin-top: 38px;
    width: 100%;
    border-bottom: 1.5px solid #2F303A;
    padding: 10px;
    background-color: transparent;
    font-size: 19px;
    font-family:'Abyssinica SIL';
    color: #2F303A;
    font-weight: 400;
 }
 
 .contact-detail .contact-form textarea{
    display: block;
    border-style: none;
    margin-top: 38px;
    width: 80%;
    text-align: left;
    border: 1.5px solid #2F303A;
    border-radius: 15px;
    background-color: transparent;
    font-size: 19px;
    font-family:'Abyssinica SIL';
    color: #2F303A;
    font-weight: 400;
 }
 .contact-detail .contact-form input[type="submit"]{
    margin-top: 60px;
    background-color: #F5980C;
    border-style: none;
    border-radius: 25px;
 }




 .about-detail {
    position: relative;
    bottom: 0;
    height:400px;
    overflow: hidden;
 }
 .about-detail .left-slice {
    position: absolute;
    left: 0;
    height: 400px;
    width:20%;
    border-radius: 50px 0px 0px 0px;
    background-color: rgba(245,152,12,0.25);
 }
 .about-detail .right-slice {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 330px;
    width:85%;
    background-color: #E2DFD2;
 }
 .about-detail .about-logo-container {
   text-align: left;
   float: left;
 }
 .about-detail .about-logo-container .text{
   margin: 0;
   padding: 0;
   margin-left: 50px;
 }
 .about-detail .about-logo-container .text1{
    font-size: 20px;
    font-family: 'Lily Script One', cursive;
    color: #2F303A;
    font-weight: 400;
 }
 .about-detail .about-logo-container .text2{
    font-size: 20px;
    font-family: 'Poppins';
    color: #2F303A;
    font-weight: 400;
 }
 .about-detail .about-content{
    width: 60%;
    margin-top: 57px;
    margin-right: 20px;;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    font-family:'Abyssinica SIL';
    color: #000;
    font-weight: 400;
 }
 .about-detail .about-content a{
    
    color: #2F303A;
    
 }



 .rr-container{
   width: 280px;
   height: 330px;
   display: flex;
   flex-direction: column;
  
 }
 .rr-container .rr-image-container {
   overflow: hidden;
   margin: 0px auto;
   width: 240px;
   height: 200px;
   border-radius: 10px;
 }
 .rr-container .rr-hor{
   width: 270px;
   margin: 10px 0px;
   border-top: 1px solid black;
 }
 .rr-container .rr-title-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .rr-title-container .rr-title{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 400;
 }
 .rr-title-container .rr-price{
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: 400;
 }
 .rr-container .rr-order-button{
  font-size: 22px;
   padding: 12px;
   background-color: #F5980C;
   border-radius: 10px;
   margin-top: 20px;
 }




 .login-container{
   position: relative;
   overflow: hidden;
   padding: 20px;
   justify-content: space-evenly;
   width: 400px;
   height: 500px;
   margin: 0 auto;
}
 .login-container .left-box-bg{
   position: absolute;
   left: -194px;
   bottom: 20px;
   background-color: rgba(245,152,12,0.25);
    width: 400px;
    height: 586px;
    rotate: 36.64deg;
   border-radius: 10px;
   z-index: -2;
}
 .login-container .right-box-bg{
   position: absolute;
   right: -407px;
   rotate: -54deg;
   bottom: 0;
   background-color: rgba(245,152,12,0.25);
    width: 642px;
    height: 317px;
    z-index: -2;
  
}


.login-container  form{
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin-top: 70px;
   width: 310px;
}
.login-container .input-con{
   padding: 10px 0px;
   border-bottom: 2px solid #2F303A;
   margin-bottom: 20px;
   text-align: left;
   color: #2F303A;
   font-weight: 400;
}
.login-container .input-con span{
   padding-left: 3px;
   margin-right: 2px;
  
}
.login-container  form input{
  
   border-style: none;
  
   background-color: transparent;
   font-size: 17px;
  
}
.login-container form input[type="submit"]{
   padding: 13px;
   margin-left: 20px;
   margin-top: 25px;
   margin-bottom: 20px;
   width: 200px;
   border-style: none;
   border-radius: 18px;
   background-color: #F5980C;
   color: white;
   text-align: center;
  
}

.login-container .l-signup{
   position: absolute;
   bottom: 20px;
   right: 15px;
   text-align: right;
   color: #2F303A;
   font-size: 19px;
   
}