

.home-container {
    background-color: #F5F5DC;
}


.bg-triangle{
    display:inline;
    position: absolute;
    top: 470px;
    left: -150px;
    width: 300px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 5px;
    rotate: 45deg;
    z-index: -1;
}




.home-image-container{
    background-image: url("../assets/conver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-image-container::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    border-radius: 35px;
    height: 100%;
    position: absolute;
    width: 100%;
  }
.home-image-container .royal{
    font-family: 'Lily Script One', cursive;
    color: #F5980C;
 }
.home-image-container .restorant{
     font-family:'Abyssinica SIL';
 }
.home-image-container p{
    font-size: 20px;
    font-family:'Abyssinica SIL';
   padding: 0;
   margin: 0;
   margin-top: 70px;
   color: white;
   z-index: 1;
 }
.home-image-container p span{
    display:inline-block;
    margin:0 28px;
   width: 37px;
    height: 3px;
    border-top: 1px solid white;
   z-index: 1;
 }
.welcome-container {
   
}
.welcome-content-box {
    background-color: rgba(245,152,12,0.25);
}
.welcome-content {
 
}
.welcome-container h2 {
   
    font-family: 'Lily Script One', cursive;
    color: #F5980C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.welcome-container .reserve-button {
    cursor: pointer;
    border: 1px solid #F5980C;
    animation-name: button-out;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
.reserve-button:hover {
    animation-name: button-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
  }

.welcome-container .reserve-button span{
  
}

.welcome-showcase{
   
}
.welcome-showcase-image-1{
    background-image: url("../assets/image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-showcase-image-2{
    background-image: url("../assets/image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-container {
}
.wrapper-container .wrapper-title {
 font-family: 'Lily Script One', cursive;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper-container .wrapper-title span{
   
 }

.wrapper-container .row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin-top: 100px;
    z-index: 3;
}

.wrapper-container .discover-button {
    cursor: pointer;
    border: 1px solid #F5980C;
    color: black;
    animation-name: d-button-out;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}

.wrapper-container .discover-button:hover {
    animation-name: d-button-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
  }
.wrapper-container .discover-button span{
}

.contact-container{
    
}




.about-container{
    position: relative;
    width: 100%;
    bottom: 0;
}



.about-wrapper{
   
}

.about-wrapper .bg-circle{
   
}
.about-wrapper .fir-image-con{
   
}
.about-wrapper .sec-image-con{

}
.about-wrapper .about-writing{
   
}
.about-wrapper .about-writing h2{
   
    font-family: 'Lily Script One', cursive;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-wrapper .about-writing p{
    font-family:'Abyssinica SIL';
}
.about-foot-con {
}
.about-foot-con .signup,.about-foot-con .login{
    cursor: pointer;
    color: #F5980C;
    border: 3px solid #F5980C;
    animation-name: button-out;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
.about-foot-con .signup:hover,.about-foot-con .login:hover {
    animation-name: button-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
  }


.about-foot-con span{
    display: inline-block;
    margin: 0 60px;
}
.about-foot-con h3{
    font-size: 30px;
    font-family: 'Lily Script One', cursive;
    color: #F5980C;
    margin: 100px 0px 60px 0px;
}


.order-online{
   
    background-image: url('../assets/orderonline.jpg');
    background-repeat: no-repeat;
   
}
.order-online .order-online-wrapper{
   
}
.order-online .order-online-wrapper .background-pizza{
  
    background-image: url('../assets/bgpizza-39d43bb340c543c7808076f899ced767.png');
    background-repeat: no-repeat;
    background-size: contain;
   
    
}
.order-online-wrapper .order-online-wrapper-right {
   
}
.order-online-wrapper .order-online-wrapper-right .bike-container{
   
    background-image: url('../assets/bike-031bcb4123cce47b60d4808033c5b14c.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.order-online-wrapper .order-online-wrapper-right p{
   
}

.order-online-wrapper .order-online-wrapper-left {
    
   
}
.order-online-wrapper .order-online-wrapper-left h2{
  
    font-family: 'Lily Script One', cursive;
   
   
}
.order-online-wrapper .order-online-wrapper-left h3{
   
    font-family: 'Lily Script One', cursive;
    
}
.order-online-wrapper .order-online-wrapper-left p{
    
    
}

.order-online-wrapper .order-online-wrapper-left .choose-recipe{
    cursor: pointer;
    color: #F5980C;
    border: 3px solid #F5980C;
    animation-name: button-out;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
.order-online-wrapper-left .choose-recipe:hover {
    animation-name: button-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
  }

.recipe-wrapper {
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}
.recipe-wrapper .recipe-img-container{
    width: 440px;
    height: 440px;
    overflow: hidden;
}

.recipe-wrapper .recipe-contents{
    width: 50%;
    height: 440px;
    text-align: right;
    padding: 30px;
    background-color: rgba(245,152,12,0.25);
    border-radius: 75px 0px 75px 0px;
}
.recipe-wrapper .recipe-contents h2{
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 400;
}
.recipe-wrapper .recipe-contents h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 400;
}
.recipe-wrapper .recipe-contents p{
   margin: 30px 0px 30px 55px;
   font-size: 18px;
}
.recipe-wrapper .recipe-contents span{
    display: inline-block;
   margin-top: 55px;
   width: 250px;
   padding: 15px;
   background-color: #F5980C;
   border-radius: 15px;
   text-align: center;
   font-size: 20px;
}
.rrelative-container{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    align-items: left;
    padding-right:30px ;
    
}
.rrelative-container h3{
   text-align: left;
   color:  #2F303A;
}
.rrelative-container .hor-line{
   width: 100%;
   border: 1px solid #A39C9C;
   margin: 0px 0px 20px 0px;
   
}

.rrelative-container .rrelative-products{
    
    gap: 60px;
    margin-right: 40px;
    overflow-x: scroll;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
}



.menu-header{
    width: 90%;
    margin: 40px auto;
    padding: 20px 50px;
 
}
.menu-header .menu-box{
   display: flex;
   flex-direction: row;
   padding: 0px 40px;
   justify-content: space-between;
   align-items: center;
}
.menu-header .menu-list {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    color:#2F303A;
    font-size: 18px;
}
.menu-box .menu-content{
   padding: 10px 10px 0px 10px;
   width: 50%;

   text-align: left;
}
.menu-box .menu-content p{
   padding: 10px;
   margin-left: 15px;
   text-align: left;
   font-size: 20px;
}
.menu-box .menu-content h2{
    margin-top: 70px;
    padding: 0;
    font-size: 38px;
    font-family: 'Lily Script One', cursive;
    color: #F5980C;
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-box .menu-content h2 span{
    margin: 0;
    padding: 0;
    width: 70px;
    border-top: 1px solid #2F303A;
    display: inline-block;
}
.menu-box .menu-logo-container{
    width: 300px;
    height: 243px;
}
.menu-wrapper{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.menu-botm-nav{
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-botm-nav span{
    font-size: 22px;
}
.menu-botm-nav .nav-button-icon{
   display: flex;
   align-items: center;
   gap: 10px;
}

.signup-container{
    position: relative;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    height: 600px;
}
.signup-container .signup-image-container{
    width: 390px;
    height: 600px;
}
.signup-container .bg-circle{
    width: 390px;
    height: 420px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 100px;
    background-color: rgba(245,152,12,0.25);
    border-radius: 50%;

}

.signup-container .signup-form-container{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    border-radius: 0px 55px 0px 55px;
    border-top: 8px solid rgba(245,152,12,0.25);
    border-right: 8px solid rgba(245,152,12,0.25);
    border-bottom: 8px solid rgba(245,152,12,0.25);
}
.signup-form-container .signup-title{
    padding: 0px;
    margin: 0px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Lily Script One', cursive;
    color: #000;
    text-align: left;
}
.signup-form-container .signup-subtitle{
    margin: 0px;
    padding: 0px;
    color: #606060;
}

.signup-container .signup-form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
.signup-container .signup-form-container form input{
    padding: 10px;
    border-style: none;
    border-bottom: 2px solid #2F303A;
    background-color: transparent;
    font-size: 17px;
}
.signup-container .signup-form-container form input[type="submit"], .signup-container .btn-google{
    padding: 13px;
    border-style: none;
    border-radius: 5px;
    background-color: #F5980C;
    color: white;
    text-align: center;
   
}
.signup-container .btn-google{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.signup-container .login{
    text-align: center;
    margin-top: 20px;
}






@keyframes button-out {
    from {
      border-color: #F5980C;
      background-color: #F5980C;
      color: #fffef2;
    }
    to {
      color: #F5980C;
      border: 3px solid #F5980C;
    }
  }
  
  @keyframes button-hover {
    to {
      border-color: #F5980C;
      background-color: #F5980C;
      color: #fffef2;
    }
  }
@keyframes d-button-out {
    from {
      border-color: #F5980C;
      background-color: black;
      color: #F5980C;
    }
    to {
      color: black;
      border: 1px solid #F5980C;
    }
  }
  
  @keyframes d-button-hover {
    to {
      border-color: #F5980C;
      background-color: black;
      color: #F5980C;
    }
  }
  

