@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .dark-mode-bg {
    @apply bg-gray-900 text-white;
  }

  .light-mode-bg {
    @apply bg-white text-black;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family:'Abyssinica SIL';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


